<h1 class="animated fadeIn fast">Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns animated fadeIn">

  <div class="card animated fadeIn Fast" *ngFor="let heroe of heroes; let i = index">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}}}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

      <button (click)="verHeroe(i)" type="button" class="btn btn-primary btn-block">
        Ver más...
      </button>
      <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary">Ver más...</a> -->

    </div>
  </div>

</div>
